 <!DOCTYPE html>
 {%load staticfiles%}
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bo otstrap.min.css" integrity="sha384BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossori gin="anonymous">
     <link rel="stylesheet" href="{%static "css/advvtemp.css"%}">
     <title></title>
   </head>
   <body>
   <form action="register.html"></form>
   <form action="login.html"></form>
     <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
          <div class="container-fluid">

            <div class="navbar-header">
               <a class="navbar-brand" href="/">R.R Institute of Technology</a>
            </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sronly">(current)</span></a></li>
                <li><a href="/Civil">Civil</a></li>
                <li><a href="/Mechanical">Mechanical</a></li>
               <li><a href="/register">register</a></li>
               <li><a href="/login">login</a></li>
              </ul>
          </div><!-- /.container-fluid -->
  </nav>


 </body>
 </html>

